<% if current_user.id == @my_thread.user_id %>

  <%= form_for @my_thread do |f| %>
  <p>
    <%= f.label :title %><br>
    <%=f.text_field :title %>
  </p>
  <p>
    <%= f.label :overview %><br>
    <%=f.text_field :overview %>
  </p>
  <% if @my_thread.errors.any? %>
  <%= @my_thread.errors.messages[:title][0] %>
  <%= @my_thread.errors.messages[:overview][0] %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
  <% end %>

<% else %>
  <p>編集できません</p>
<% end %>
